<div class="container">
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/background/coverImg.jpg" alt="">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded jumbotron mySmallerDiv">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Cleaner Energy</span><br>
                        <span class="section-heading-lower">Renewable Resources</span>
                    </h2>
                    <p class="mb-3">   The main benefit however is the fact that we don’t need to “feed” these systems with energy by
                        mining or other processing.
                        The input energy is free, and only requires the initial infrastructure to be put into place,
                        followed by maintenance.
                    </p>
                    <div class="intro-button btn-white mx-auto">
                        <a class="btn  btn-xl mybtn" [routerLink]="['/dashboard']">Visit Us Today!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<br><br><br><br><br>

<div class="row">
    <div class="col-md-12">
        <div class="col-xl-12 mx-auto myBiggerDiv">
            <div class="outer">
                <br>
                <div class="cta-inner text-center rounded jumbotron borderProp">
                    <h2 class="section-heading ">
                        <span class="section-heading-upper">Our Promise</span><br>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p>

                        Renewable resources are part of the renewable natural stock and comprise those resources that
                        have the potential for re-creation within a given period of time.
                        <br>
                        Wind and solar are very convenient, because they can be small-scale.
                        An out of the way village can use wind and solar for most of its power easily, getting rid of
                        the need to build expensive power plants.
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
<br><br><br><br><br>